$icon-font-path: '../fonts/';
$green: #00ff00;
$blue: #0000ff;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html, body {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

h1 {
  font-family: 'Astloch', cursive;
}

h2 {
  font-size: 54px;
  margin-top: 10em;
  margin-bottom: 0.5em;
  font-weight: 700;

  span {
    margin-left: -20px;
  }
}

.no-scroll {
  overflow: hidden;
}

.cover {
  position: absolute;
  top: 0;
  width: 100vw;
  height: auto;
  background: white;
  z-index: 10;
  min-height: 100vh;

  h1 {
    margin-left: 50px;
    margin-right: 50px;
    height: 230px;
    font-size: 90px;
    position: relative;
    margin-top: calc(50vh - 150px);
  }

  h3 {
    margin-left: 50px;
  }

  h2 {
    font-weight: 500;
    font-size: 70px;
  }

  .sub {
    position: relative;
    margin-left: 55px;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: $blue;
    padding-top: 1em;
    border-top: 3px solid $blue;
  }

  .row {
    margin-top: -25em;
  }

  .text {
    margin-left: 3.3%;
    font-weight: 500;
    text-align: justify;

    p:first-child::first-letter {
      font-size: 45px;
      font-weight: bold;
      line-height: 38px;
      position: relative;
      display: inline-block;
      float: left;
      height: 60px;
      padding-right: 10px;
    }

    .btn-container {
      margin-top: 2em;
      margin-bottom: 4em;
      text-align: center;
    }
  }
}

button.btn {
  font-size: 12px;
  text-transform: uppercase;
  color: $blue;
  background: white;
  padding-left: 2em;
  padding-right: 2em;
  position: relative;

  &:hover {
    color: $blue;
    font-weight: bold;
  }

  &:before {
    content: ' ';
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid $blue;
    top: -2px;
    left: -2px;
  }

  &:after {
    content: ' ';
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid $blue;
    top: 2px;
    left: 2px;
  }
}

nav.inner, nav.actions {
  position: fixed;
  background: white;

  ul, li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
  }

  ul {
    display: inline-block;
    width: 33%;
    margin-top: 13px;
  }

  li {
    margin-bottom: 3px;
  }

  a {
    color: #333;
    text-decoration: none;

    &:visited, &:active, &:hover {
      color: #333;
      font-weight: 700;
      text-decoration: none;

      span {
        text-decoration: underline;
      }
    }
  }

  li.is-active a {
    color: #333;
    font-weight: 700;
    text-decoration: none;

    span {
      text-decoration: underline;
    }
  }

  .num {
    margin-right: 2em;
  }
}

nav.inner {
  width: 90vw;
  height: 90px;
  left: 50%;
  margin-left: -45vw;
  top: 4.5em;
  border-top: 2px solid $blue;
  border-bottom: 2px solid $blue;
  z-index: 5;
  font-size: 12px;
}

nav.actions {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  z-index: 20;
  width: 90vw;
  height: auto;
  left: 50%;
  margin-left: -45vw;
}

.section-0 {
  h2 {
    margin-top: 4em;
  }
}

.content {
  padding: 2em 0 0 0;
  border-top: 2px solid $blue;
  text-align: justify;

  &::first-letter {
    font-size: 45px;
    font-weight: bold;
    line-height: 38px;
    position: relative;
    display: inline-block;
    float: left;
    height: 60px;
    padding-right: 10px;
    margin-left: -20px;
  }
}

a, a:visited, a:active, a:hover {
  text-decoration: none;
}

.items {
  position: fixed;
  top: 0;
  height: 100vh;
  left: 100px;
}

.raw {
  width: 90vw;

  .raw-item.schema {
    width: 600px;
  }
}

.panel {
  z-index: 30;
  position: fixed;

  main {
    z-index: 0;
    position: fixed;
    width: 95vw;
    height: 100vh;
    background: $blue;
    transition: margin-left 1s;
    cursor: pointer;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &.panel-left {
    main {
      margin-left: -100vw;

      &.is-active {
        margin-left: 0;
      }
    }

    header {
      left: 0;

      div {
        transform: rotate(-90deg);
        margin-left: -82px;
      }
    }
  }

  &.panel-right {
    main {
      margin-left: 100vw;

      &.is-active {
        margin-left: 4vw;
      }

      img {
        position: absolute;
        left: -5%;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 80%;
        width: 100%;
      }
    }

    header {
      right: 0;

      div {
        transform: rotate(90deg);
        margin-left: -82px;
      }
    }
  }

  &.panel-left {
    header:hover {
      div {
        margin-left: -77px;
      }
    }
  }

  header {
    position: fixed;
    width: 35px;
    height: 100vh;
    background: $blue;
    top: 0;
    z-index: 1;
    cursor: pointer;
    transition: width 500ms;

    &:hover {
      width: 40px;
    }

    div {
      transition: margin-left 500ms;
      pointer-events: none;
      position: absolute;
      color: white;
      width: 200px;
      text-align: center;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: bold;
      top: 50%;
      left: 0;
      height: auto;
    }
  }
}

.actors {
  position: fixed;
  background: white;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;

  .actors-frame {
    width: 85%;
    margin: 0 auto;
    border: 3px solid $green;
  }
}
