$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html, body {
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-family: 'Astloch', cursive;
}

h2 {
  font-size: 54px;
  margin-top: 10em;
  margin-bottom: 0.5em;
  font-weight: 700;

  span {
    margin-left: -20px;
  }
}

nav {
  position: fixed;
  width: 90vw;
  height: 90px;
  left: 50%;
  margin-left: -45vw;
  top: 1em;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  z-index: 5;
  font-size: 12px;
  background: white;

  ul, li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
  }

  ul {
    display: inline-block;
    width: 33%;
    margin-top: 13px;
  }

  li {
    margin-bottom: 3px;
  }

  a {
    color: #333;
    text-decoration: none;

    &:visited, &:active, &:hover {
      color: #333;
      font-weight: 700;
      text-decoration: none;

      span {
        text-decoration: underline;
      }
    }
  }

  li.is-active a {
    color: #333;
    font-weight: 700;
    text-decoration: none;

    span {
      text-decoration: underline;
    }
  }

  .num {
    margin-right: 2em;
  }
}

.section-0 {
  h2 {
    margin-top: 3em;
  }
}

.content {
  padding: 2em 0 0 0;
  border-top: 2px solid blue;
  text-align: justify;

  &::first-letter {
    font-size: 45px;
    font-weight: bold;
    line-height: 38px;
    position: relative;
    display: inline-block;
    float: left;
    height: 60px;
    padding-right: 10px;
    margin-left: -20px;
  }
}

.items {
  position: fixed;
  top: 0;
  height: 100vh;
}

.panel {
  z-index: 30;
  position: fixed;

  main {
    z-index: 0;
    position: fixed;
    width: 95vw;
    height: 100vh;
    top: 0;
    background: blue;
    transition: margin-left 1s;
  }

  &.panel-left {
    main {
      margin-left: -100vw;

      &.is-active {
        margin-left: 0;
      }
    }

    header {
      left: 0;

      div {
        transform: rotate(-90deg);
        margin-left: -82px;
      }
    }
  }

  &.panel-right {
    main {
      margin-left: 100vw;

      &.is-active {
        margin-left: 4vw;
      }
    }

    header {
      right: 0;

      div {
        transform: rotate(90deg);
        margin-left: -82px;
      }
    }
  }

  &.panel-left {
    header:hover {
      div {
        margin-left: -77px;
      }
    }
  }

  header {
    position: fixed;
    width: 35px;
    height: 100vh;
    background: blue;
    top: 0;
    z-index: 1;
    cursor: pointer;
    transition: width 500ms;

    &:hover {
      width: 40px;
    }

    div {
      transition: margin-left 500ms;
      pointer-events: none;
      position: absolute;
      color: white;
      width: 200px;
      text-align: center;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: bold;
      top: 50%;
      left: 0;
      height: auto;
    }
  }
}
